/* Banner.css */
.banner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.833),
        rgba(0, 0, 0, 0.308)
      ),
      url(../../assets/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

/* .image-container {
    position: relative;
   
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
} */